@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.pacific {
    font-weight: 600 !important;
}

.continer {
    overflow-x: auto;
    /* or scroll */
    /* Optional: Prevents line breaks */
    width: 100%;
    /* Set width to desired width */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.continer::-webkit-scrollbar {
    display: none;
    /* WebKit browsers */
}

.continer1 {
    overflow-y: auto;
    /* or scroll */
    /* Optional: Prevents line breaks */
    width: 100%;
    /* Set width to desired width */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.continer::-webkit-scrollbar {
    display: none;
    /* WebKit browsers */
}

.curs {
    font-size: 40px;
}

.cert {
    width: 100%;
}

.cert-icon {
    width: 40px;
}

.li-img {
    height: 300px;
    width: 450px;
    padding: 10px;
}

.cert-sec-1 {
    background-image: linear-gradient(147deg, #C6EA8D, #FE90AF);
    background-size: cover;
    width: 100%;
    padding-top: 50px;
}

.cert-sec {
    background-image: linear-gradient(147deg, #C6EA8D, #FE90AF);
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-top: 60px;
}

.icon-5 {
    height: 50px;
    width: 40px;
}

.icon {
    color: #ffffff;
    font-size: 28px;
    margin: 10px;
}

.os-image {
    height: 100px;
    width: 120px;
}

.icon-2 {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    margin: 10px;
}

.icon-3 {
    color: #ffffff;
    font-size: 35px;

}

.card {
    border-radius: 20px;
}

.bg-container-1 {
    background-image: url("https://w0.peakpx.com/wallpaper/786/850/HD-wallpaper-sierra-apple-mac-macos-mountain-os-thumbnail.jpg");
    background-size: cover;
    padding: 40px;
    height: 100%;
    width: 100%;
}

.bg-container-2 {
    background-image: url("https://images.pexels.com/photos/38326/pexels-photo-38326.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 100px;
    width: 100%;
    height: 85vh;
}

.nav_img {
    height: 50px;
    width: 60px;
    border-radius: 60px;
    padding: 6px;
    padding-left: 8px;
    padding-right: 5px;
}

.home-img {
    width: 60%;
    margin: 50px;
    border-top-left-radius: 280px;
    border-top-right-radius: 280px;
    border-bottom-left-radius: 280px;
    border-bottom-right-radius: 280px;

}

.home-h1 {
    color: #ffffff;
    font-size: 35px;
}

.home-p {
    color: #ffffff;
    font-size: 30px;
}

.home-button {
    color: #ffffff;
    font-size: 10px;
    width: 120px;
}

.home-button-2 {
    font-size: 18px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    color: #ffffff;
    width: 140px;
    height: 45px;
}


.aboutme-bg-container-1 {
    background-image: linear-gradient(147deg, #C6EA8D, #FE90AF);
    background-size: cover;
    width: 100%;
    padding: 20px;
    padding-top: 40px;
}

.aboutme-bg-container-2 {
    background-image: linear-gradient(147deg, #C6EA8D, #FE90AF);
    width: 100%;
    padding-top: 100px;
}


.skills-bg-container-2 {
    background-image: linear-gradient(147deg, #C6EA8D, #FE90AF);
    width: 100%;
    background-size: cover;
    padding: 20px;
}

.skills-bg-container-3 {
    background-image: linear-gradient(147deg, #C6EA8D, #FE90AF);
    width: 100%;
    background-size: cover;
    padding: 60px;
    color: #ffffff;
}

.mss-heading-1 {
    color: #16123F;
    font-size: 25px;
    margin-top: 45px;
}

.mss-heading-2 {
    color: black;
    font-size: 25px;
    font-weight: 600;
}

.headingaboutme {
    color: black;
    margin-right: 10px;
    text-align: left;
    font-size: 18px;
}

.mss-para-1 {
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.mss-image {
    width: 100%;
    border-radius: 50%;
}

.ul1 {
    list-style: none;
}

.conti1 {
    padding-top: 40px;
}

.skills-card {
    background-image: linear-gradient(185deg, #FEDBE3, #ffffff);
    height: 140px;
    width: 140px;
    padding: 10px;
    border-radius: 8px;
}

.skills-card1 {
    background-image: linear-gradient(185deg, #FEDBE3, #ffffff);
    height: 150px;
    width: 170px;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

.ed-card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

.skills-card-title {
    font-family: "Roboto";
    color: #303030;
    font-size: 22px;
}

.skills-card-image {
    border-radius: 20px;
    width: 45%;
    padding-top: 10px;
}

.view-button {
    height: 35px;
    width: 100px;
    margin-top: 15px;
    font-size: 20px;
    padding: 2.5px;
}

.bs-bg-container {
    background-image: linear-gradient(147deg, #C6EA8D, #FE90AF);
    background-size: cover;
    width: 100%;
    padding: 15px;
    padding-top: 40px;
}


.bs-bg-container-1 {
    background-image: linear-gradient(147deg, #C6EA8D, #FE90AF);
    background-size: cover;
    width: 100%;
    padding: 10px;
}

.es-bg-container {
    background-image: linear-gradient(147deg, #C6EA8D, #FE90AF);
    background-size: cover;
    width: 100%;
    padding: 30px;
    padding-top: 60px;

}

.iss-1 {
    height: 350px;
    width: 220px;
}

.es-bg-container-1 {
    background-image: linear-gradient(147deg, #C6EA8D, #FE90AF);
    background-size: cover;
    width: 100%;
    padding: 55px;

}

.bs-head1 {
    color: #cced00;
    font-size: 25px;
    font-weight: bold;
}

.bs-head2 {
    color: black;
    font-size: 18px;
    padding: 10px;
}

.bs-head3 {
    color: #ffffff;
    font-size: 35px;
    font-weight: bold;

}

.bs-head4 {
    color: #303030;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
}

.bs-para {
    color: black;
    font-size: 20px;
    padding: 8px;
}

.bs-link {
    color: #050505;
    background: cover;
    text-decoration: underline;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
}

.bs-card {
    background-color: white;
    margin: 15px;
}

.card {
    height: 600px;
    width: 350px;
    margin: 20px;
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card-2 {
    height: 300px;
    width: 250px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
}

.bs-card-1 {
    width: 100%;
    background-image: linear-gradient(to left, #FCCF31, #FCB69F);
    border-radius: 20px;
}

.bs-image {
    width: 100%;
    margin-top: 10px;
    border-radius: 15px;
}

.bs-image-1 {
    height: 200px;
    border-radius: 0px;
    width: 100%;
}

.bs-button {
    height: 60px;
    width: 150px;
    font-size: 25px;
}

.wds-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/portfolio-work-done-bg.png");
    background-size: cover;
    padding: 20px;
}

.wds-icon {
    color: #ffffff;
    font-size: 40px;
}


.wds-head1 {
    color: black;
    font-weight: 600;
    font-size: 30px;
}

.wds-para {
    color: #ffffff;
    font-size: 15px;
}


.fs-bg-container1 {
    background-color: black;
    width: 100%;
    background-size: cover;
    font-family: "Roboto";
    padding: 40px;
}

.fs-bg-container-1 {
    background-color: black;
    width: 100%;
    background-size: cover;
    font-family: "Roboto";
    padding: 40px;
}

.fs-bg-container2 {
    background-color: #303030;
    height: 8%;
    background-size: cover;
    padding: 5px;
    text-align: center;
    font-family: "Roboto";
}

.fs-head {
    color: #cced00;
    font-size: 25px;
    font-weight: 500;
    margin-left: 10px;
}

.fs-icon {
    color: #ffffff;
    font-size: 15px;
    margin-left: 10px;
    font-weight: bold;
}

.fs-icon2 {
    color: black;
    font-size: 20px;
    margin-left: 10px;
    padding: 5px;
}

.fs-image {
    height: 25vh;
    border-radius: 30px;
    margin: 10px;
}

.fs-image-1 {
    height: 32vh;
    border-radius: 30px;
    margin: 10px;
}

.custom-but {
    background-color: #ffffff;
    border-color: #ff9f00;
    border-width: 3px;
    color: #ff9f00;
    font-size: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 75%;
    cursor: pointer;

    border: 2px solid black;
}

.modal-card {
    background-color: #fff;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
}



.modal-content {
    padding: 20px;
    text-align: center;
}

.modal-content img {
    max-width: 50%;
    max-height: 50%;
    display: block;
    margin: 0 auto;
}

.close-button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.close-button:hover {
    background-color: #555;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000;
    font-size: 28px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
